<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


<span id="wrapper">
    <div id="cravings">
        <h1 id="headline">Welcome</h1>
    </div>
<br>
<span id="loginbutton">
<button  aria-colindex="customerLogin">
<a [routerLink]="['customerLogin']" class="button two">Customer Login </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button aria-colspan="vendorLogin">
<a [routerLink]="['vendorLogin']" class="button two">Vendor Login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

</span>
</span>