<!doctype html>
<html>
    <body>
        <div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar"><a class="active" href="#"><i class="fa fa-fw fa-home"></i></a></div>
<h1 id="headline">Customer Dashboard</h1>
<table table border="3" align="center" >
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>EMAIL</th>
        <th>MOBILE</th>
    </tr>
    <tr>
        <td>{{customer.customerid}}</td>
        <td>{{customer.customername}}</td>
        <td>{{customer.customercity}}</td>
        <td>{{customer.customerstate}}</td>
        <td>{{customer.customeremail}}</td>
        <td>{{customer.customermobile}}</td>
    </tr>
</table>
<br/>
<span id="wrapper">
    <button  aria-colindex="Show Restaurant">
 <a [routerLink]="['/custDashBobard',{outlets: {'mphasis': ['showRestaurant']}}]"> Show Restaurant</a> </button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button  aria-colindex="Customer Orders">
<a [routerLink]="['/custDashBobard',{outlets: {'mphasis': ['CustomerOrders']}}]"> Customer Orders</a> </button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <a [routerLink]="['ShowRestaurant']">ShowRestaurant</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<button  aria-colindex="Pending Orders">
    <a [routerLink]="['/custDashBobard',{outlets: {'mphasis': ['CustomerPendingOrders']}}]">Pending Orders</a></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button  aria-colindex="Wallet">
<a [routerLink]="['/custDashBobard',{outlets: {'mphasis': ['walletCustomer']}}]"> Wallet</a> </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button  aria-colindex="Place Order">
<a [routerLink]="['/custDashBobard',{outlets: {'mphasis': ['placeOrder']}}]"> Place Order</a></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button  aria-colindex="All Customers">
<a [routerLink]="['/custDashBobard',{outlets: {'mphasis': ['showCustomer']}}]"> Show All Customer</a> </button>
<!-- <a [routerLink]="['showAllCustomers']">Show All Customers</a> -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<hr/></span>
<router-outlet name="mphasis"></router-outlet>
</div>
</body>
</html>
