h3 {
    text-shadow: 2px 2px red;
    color: gold;
    background-color: black;
    display: table-cell;
    text-align: top;
    position: top;
}
table {
    width: 70%;
    text-align: center;
    table-layout: auto;
    color-scheme: calc();
    color: aquamarine;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
th,td {
    background-color: aliceblue;
    color: black;
}